<!-- no-cache -->
<aside class="sidebar text-left">
	<ul class="nav nav-list flex-column mb-5">
		<li class="nav-item"><a href="/puntuaciones" class="nav-link {{ 'active' if ( ('/'+pathname) == ('/puntuaciones')) else '' }}">Ver ranking de puntuaciones</a>
		<li class="nav-item"><a href="/mis-cartas" class="nav-link {{ 'active' if ( ('/'+pathname) == ('/mis-cartas')) else '' }}">Mis cartas</a>
		<li class="nav-item"><a href="/update-password" class="nav-link">{{ _("Reset Password") }}</a></li>
	</ul>
</aside>
